/* redesign the button and fix spacing between hamburger menu and button. can use div to put space between them */

a {
  color: white;
  text-decoration: none;
}

.app__navbar {
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 20px;
  background: #3ccca3;
  /* background: #FFFDD0; */
  /* background: rgb(13,215,154); */
  /* background: rgb(192,252,172);
    background: linear-gradient(90deg, rgba(192,252,172,1) 0%, rgba(248,183,180,1) 51%, rgba(239,184,137,1) 100%); */
  /* background: rgb(155,150,238);
    background: linear-gradient(90deg, rgba(155,150,238,1) 20%, rgba(108,224,248,1) 100%); */
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-weight: 600;
}

.app__navbar-links li {
  cursor: pointer;
  margin: 0 1.5rem;
}

.app__navbar-links li a {
  color: #222;
  text-decoration: none;
  font-size: 18px;
  /* background-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); */
  /* background-image: linear-gradient(90deg, rgba(95,116,241,1) 0%, rgba(216,99,77,1) 100%); */
  /* background-image: linear-gradient(90deg, rgba(4,40,252,1) 0%, rgba(240,44,7,1) 100%); */
  /* background-clip: text; */
  /* color: transparent; */
}

.app__navbar-links li a:hover {
  color: #fffdd0;
}

.app__navbar-button {
  background: rgba(2, 78, 2, 0.8);
  cursor: pointer;
  line-height: 28px;
  border: 0;
  border-radius: 10px;
  padding: 0.2rem 2rem;
  min-height: 50px;
  font-weight: 600;
  font-size: 16px;
  margin: 10px 0;
}

.app__navbar-button:hover {
  background: rgba(2, 78, 2, 0.5);
  cursor: pointer;
}

.app__navbar-button a {
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.app__navbar-smallscreen {
  display: none;
}

.app__navbar-smallscreen-menu {
  cursor: pointer;
}

.app__navbar-smallscreen-overlay {
  display: flex;
  flex-direction: column;
  text-align: end;
  width: 100vw;
  height: 100vh;
  /* position: absolute;
    top: 40px;
    right: 0;
    padding: 2rem;  */
  background: rgb(192, 252, 172);
  background: linear-gradient(
    90deg,
    rgba(192, 252, 172, 1) 0%,
    rgba(248, 183, 180, 1) 51%,
    rgba(239, 184, 137, 1) 100%
  );
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  transition: 0.5s ease;
}

.app__navbar-smallscreen-overlay .overlay-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 20px;
}

.app__navbar-smallscreen-links li {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.5rem;
}
.app__navbar-smallscreen-links li a {
  color: #222;
  /* background-image: linear-gradient(90deg, rgba(4,40,252,1) 0%, rgba(240,44,7,1) 100%);
    background-clip: text;
    color: transparent; */
}

.app__navbar-smallscreen-links li a:hover {
  color: black;
}

.app__navbar-smallscreen-menu {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .app__navbar-links,
  .app__navbar-button {
    display: none;
  }

  .app__navbar-smallscreen {
    display: flex;
  }
}
@media screen and (max-width: 2160px) {
  .app__navbar-logo img {
    width: 250px;
  }
}
@media screen and (max-width: 650px) {
  .app__navbar {
    padding: 1rem;
  }
  .app__navbar-button {
    display: none;
  }
  .app__navbar-logo img {
    width: 180px;
  }
}
