.app__footer-links {
  max-width: 100%;
  /* color: black; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 0 10px;
  background: #fffdd0;
}

.app__footer-links-logo {
  display: flex;
  flex-direction: column;
  margin: 2.5rem;
}

.app__footer-links-logo img {
  width: 23%;
  margin-bottom: 1rem;
}
.app__footer-links-logo p {
  font-size: 16px;
  font-family: system-ui;
  line-height: 12px;
  color: black;
}
.app__footer-links-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.app__footer-link-div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 2.5rem;
}
.app__footer-link-div:nth-child(2) div {
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.app__footer-link-div:nth-child(2) div p {
  padding: 0 5px;
}

.app__footer-link-div h4 {
  font-size: 2rem;
  line-height: 12px;
  color: black;
  margin-bottom: 0.7rem;
}
.app__footer-link-div:nth-child(2) svg {
  font-size: 1.5rem;
}

.app__footer-link-div p {
  font-size: 16px;
  line-height: 18px;
  color: black;
  cursor: pointer;
  margin: 4px 0;
}
.app__footer-link-div:last-child {
  display: flex;
  flex-direction: row;
  margin: 0 5px;
}
.social-icon {
  font-size: 2.5rem;
  margin: 20px;
  color: black;
}
.social-icon:hover {
  font-size: 2.5rem;
  margin: 0 10px;
  /* padding: 0 10px; */
  color: #3ccca3;
}

.app__footer-copyright {
  text-align: center;
  width: 100%;
}

.app__footer-copyright p {
  font-size: 16px;
  color: black;
}
